{% assign items = include.items %}
{% assign limit = include.limit | default: 999 %}
<ol class="timeline{% if include.compact %} compact{% endif %}">
  {% for item in items limit: limit %}
    <li class="timeline-item">
      <time datetime="{{ item.date }}">
        {% if include.compact %}
          <span>{{ item.date | date: "%b %-d," }}</span>
          <span class="timeline-year">{{ item.date | date: "%Y" }}</span>
        {% else %}
          {{ item.date | date: "%b %-d, %Y" }}
        {% endif %}
      </time>
      <div>
        <p>{{ item.text }}</p>
        {% if item.links and item.links.size > 0 %}
          <div class="inline-links">
            {% for link in item.links %}
              {% include link.html url=link.url label=link.label %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ol>
