<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}?v=5" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main id="main-content" class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
